<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap" rel="stylesheet">
    <title>Madspild</title>
    <link rel="stylesheet" href="/stylesheet.css">
</head>
<body>

<div class="container">
    <div th:replace="fragments/header :: header('')"></div>



    <div id="content">
        <div class="full-img">
            <img src="/img/shutterstock_409633858_2000x.webp">
            <div class="image-text">
                <h1>Velkommen til Madspild. </h1>
            </div>
        </div>
    </div>


    <div th:replace="~{fragments/footer :: footer}"></div>
 
</div>
</body>
</html>
