<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap" rel="stylesheet">
  <title>Madspild</title>
  <link rel="stylesheet" href="/stylesheet.css">
</head>
<body>

<div class="container">
  <header>
    <div class="logo">
      <a th:href="@{/}">Madspild.</a>
    </div>
    <div class="nav">
      <a th:href="@{/madbanken}">Madbanken</a>
      <a class="aktiv" th:href="@{/koleskaberen}">Køleskaberen</a>
      <a th:href="@{/fakta}">Fakta</a>
      <a th:href="@{/tipstricks}">Tips&Tricks</a>
      <a th:href="@{/omos}">Om os</a>
    </div>
    <div class="log-in">
      <a href="#">Log ind</a>
    </div>

  </header>


  <div id="content">
content her

  </div>


  <footer>
    <div class="footer-column">
      <h3>Kontakt os: </h3>
      <br> <br>
      <div class="contact-column">
        <p><Strong>Telefon:</Strong></p>
        <p>+45 9988 7766</p>
        <p><Strong>Mail:</Strong></p>
        <p>madspild@gmail.com </p>
        <p><Strong>Address:</Strong></p>
        <p>Stuensensgade 15, 3tv, 2100 København Ø </p>
      </div>

    </div>
    <div class="footer-column">
      <h3>Kontakt os: </h3>
      <br> <br>
      <div class="contact-column">
        <p><Strong>Telefon:</Strong></p>
        <p>+45 9988 7766</p>
        <p><Strong>Mail:</Strong></p>
        <p>madspild@gmail.com </p>
        <p><Strong>Address:</Strong></p>
        <p>Stuensensgade 15, 3tv, 2100 København Ø </p>
      </div>

    </div>
    <div class="footer-column">
      <h3>Kontakt os: </h3>
      <br> <br>
      <div class="contact-column">
        <p><Strong>Telefon:</Strong></p>
        <p>+45 9988 7766</p>
        <p><Strong>Mail:</Strong></p>
        <p>madspild@gmail.com </p>
        <p><Strong>Address:</Strong></p>
        <p>Stuensensgade 15, 3tv, 2100 København Ø </p>
      </div>

    </div>
  </footer>

</div>
</body>
</html>