<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap" rel="stylesheet">
    <title>Om Os</title>
    <link rel="stylesheet" href="/stylesheet.css">
    <meta charset="UTF-8">
</head>
<body>
<div class="container">
    <div th:replace="fragments/header :: header('omos')"></div>



    <div id="content">
        <div class="about-section">
            <div class="about-text">

            <h2>Om Operation Madspild</h2>

            <p>
                Operation Madspild er en organisation dedikeret til at bekæmpe madspild og fremme bæredygtige løsninger
                inden for fødevareforbrug. Vi arbejder på at oplyse forbrugere om vigtigheden af at reducere madspild
                gennem information, tips og konkrete værktøjer.
                <br><br>
            </p>

                <h3>Vores formål</h3>
                <p>
                    Hvert år bliver tonsvis af mad smidt ud, selvom det stadig er spiseligt. Dette har ikke kun en økonomisk betydning
                    for forbrugere og virksomheder, men også en enorm miljømæssig konsekvens. Vores mål er at gøre det nemt for alle
                    at bidrage til en mere bæredygtig fremtid, ét måltid ad gangen.
                    <br><br>
                    Vi samarbejder med supermarkeder, restauranter og private husholdninger for at mindske madspild.
                    Gennem oplysning, innovative løsninger og fællesskab kan vi sammen gøre en forskel.
                    <br><br>
                </p>

                <h3>Hvad kan du gøre?</h3>
                <p>
                    Alle kan bidrage til at reducere madspild – det kræver blot små ændringer i dagligdagen.
                    Du kan her på siden se på specifikke tips til, hvordan du kan mindske madspillet og
                    hvis du er virksomhed, eller velgørenhedsorganisation tage del i vores donationsordninger.
                </p>

        </div>
        <div class="about-image">
            <img src="/img/FoodWasteOmOs.png" alt="Ikke smid ud :(">
        </div>
    </div>
</div>

    <div th:replace="~{fragments/footer :: footer}"></div>

</div>
</body>
</html>
