<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap" rel="stylesheet">
    <title>Tak-for-tilmelding</title>
    <link rel="stylesheet" href="/stylesheet.css">
</head>
<body>
  <div class="container">
    <header>
      <div class="logo">
        <a th:href="@{/}">Madspild.</a>
      </div>
      <div class="nav">
        <a th:href="@{/madbanken}">Madbanken</a>
        <a th:href="@{/koleskaberen}">Køleskaberen</a>
        <a th:href="@{/fakta}">Fakta</a>
        <a th:href="@{/tipstricks}">Tips&Tricks</a>
        <a th:href="@{/omos}">Om os</a>
      </div>
      <div class="log-in">
        <a href="#">Log ind</a>
      </div>

    </header>


    <div id="content">
      <h1>Tak for din tilmelding!</h1>

      <div th:if="${email}" class="email-confirmation">
        <h3>Vi har sendt en bekræftelse til:</h3>
        <p th:text="${email}" style="font-weight: bold;"></p>
        <p>Tjek din indbakke for vores velkomstemail.</p>
      </div>

      <a th:href="@{/}" class="button">Tilbage til forsiden</a>
    </div>
    <div th:replace="~{fragments/footer :: footer}"></div>
  </div>
</body>
</html>